@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  background-image: linear-gradient(#AFEEEE, #FFFFE0);
}

img {
  border: solid 1px black;
  border-radius: 50%;
  max-width: 211px;
  max-height: 211px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

#sair {
  color: #FF0000;
}

#textos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#divisao {
  margin-top: 16px;
}